{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    
    {{ block.super }}
    
    <h1>This is Home page!</h1>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">SUBMIT!</button>
    </form>

{% endblock %}

<style>
    form-control {
        margin-top: 20px;
        color: white;
    }
    input {
        padding: 10px;
        margin: 5px;
    }
    button {
        padding: 10px;
        margin: 5px;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color: blue;
    }
    button:active {
        background-color: #777;
    }
</style>