{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}

    {{ block.super }}

    <h1>This is Search page!</h1>
    <form method="GET">
        <input type="search" name="search" placeholder="Search here..." value="{{ request.GET.search }}">
        <button type="submit">SUBMIT!</button>
    </form>

    <h2>Search Results:</h2>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Roll</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.roll }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}